body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff; 
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.cont{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    padding-top: 23px;
    width: 1400px;
    height: 72px;
    background-color: black;
}
.header_inner {
    
    display: flex;
    justify-content: space-between;
}
.nav{
    font-size: 14px;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin-left:47px ;
    color: #ffffff;
    text-decoration: none;
}
.nav_link:hover{
    color:orange;
}
.intro{
    margin: 0 auto;
    display: block;
    width: 1400px;
    height: 638px;
    background: #9a9a9a;
}
.intro_inner{
    padding-top: 138px;
    position: absolute;
    margin: left auto;
}
.intro_top{
    padding-top: 111px;
    height: 640px;
}
.intro_link{
    margin-top: 20px;
    width: 590px;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    letter-spacing: 2px;
    line-height: 1.2;
}
.intro_link:after{
    content: "";
    display: block;
    width: 65px;
    height: 2px;
    margin: 40px 0;
    background-color: #ffffff;
}
.intro_cont_abz{
    height: 85px;
    width: 500px;
}
.intro_abz{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    opacity: .7;
}
.btn{
    padding: 8px 30px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin: 25px 0;
}
.btn:hover{
    background: #ff9b51;
    border: 2px solid #ff9b51;
    
}
.join{
    margin-left: auto;
    position: relative;
    top:-388px;
    height: 362px;
    width: 362px;
}
.join_header{
    
    height: 52px;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
}
.join_tiltle{
    margin: 0;
    line-height: 52px;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
.join_tiltle1{
    color: #ff8b38;
}
.join_body{
    height: 254px;
    background-color: #ffffff;
}
.join_btn{
    padding: 15px 134px;
    display: inline-block;
    height: 54px;
    width: 100% ;
    border: 2px solid #fa9d56;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background: #fa9d56;
    border-radius: 0 0 5px 5px;
}
.join_btn:hover{
    background: #f7a567;
    border: 2px solid #f7a567;
}
.join_body{
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
}
.join_input{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 0 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
.join_input::placeholder{
    color: #cecece;
    padding-left: 10px;
    
}
.join_input:focus{
    border-bottom: 1px solid #adadad;
    border-left: 1px solid #e7e5e5;
    border-right: 1px solid #e7e5e5;
}
.join_group{
    position: relative;
    margin-bottom: 45px;
   
}
.BrandBar{
    margin: 0 auto;
    height: 110px;
    width: 1400px;
    background-color: #ffffff;
    border-bottom: 1px solid #9a9a9a;
}
.BrandBar_link{
    margin-bottom: 0;
    font-size: 20px;
    color: #333333;
}
.BrandBar_abz{
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #9a9a9a;
    width: 430px;
}
.img_inner{
    display: flex;
    justify-content: space-between;
}
.img_correct{
    padding-top: 30px;
}
.features1{
    margin: 0 auto;
    height: 600px;
    width: 1400px;
    background-color: #f5f5f5;
    
}
.FeatPadding{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}
.tabs{  
display: flex;
flex-direction: column;

}
.tab_btn1{
    height: 110px;
    width: 110px;
    margin: 0;
    line-height: 110px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background: #333333;
    border-radius: 5px 5px 0 0;
}
.tab_btn1:hover{
    background-color: #ff8b38;
}
.tab_btn2{
    height: 110px;
    width: 110px;
    margin: 0;
    line-height: 110px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background: #333333;
    border-bottom: 0.1px solid  #f5f5f5;
    border-top: 0.1px solid  #f5f5f5;
}
.tab_btn2:hover{
    background-color: #ff8b38;
}
.tab_btn3{
    height: 110px;
    width: 110px;
    margin: 0;
    line-height: 110px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background: #333333;
    border-radius: 0 0 5px 5px;
}
.tab_btn3:hover{
    background-color: #ff8b38;
}
